<% other_user = meeting.other_user(current_user) %>
<% other_request = meeting.other_user_request(current_user) %>
<% if other_user && other_request %>

<%= link_to meeting_path(id: meeting.id) do %>
<div class="entry-container">
  <div class="entry">
    <% if other_user&.photo&.url %>
    <%= cl_image_tag other_user.photo.url(:find_face_small), class: "profile-face text d-inline" %>
    <% end %>
    <div class="text d-inline">
      <span class="time text d-inline"><%= other_request.meeting_date.strftime("%A, %b %d") %> </span>
      <div>
        <span class="title text d-inline">Meet <span class="name text d-inline"><%= other_user.first_name %> </span> at <%= meeting.restaurant.name %> </span>
        <span class="address"> <%= meeting.restaurant.address %></span>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
