<div class="entry-container">
  <div class="entry">
    <%= cl_image_tag request&.restaurant&.photo&.url, :width=>115, :fetch_format=>:auto, :crop=>"scale"%>
    <div class="text d-inline">
      <div>
        <span class="time"><%= request.meeting_date.strftime("%A, %b %d") %> at
          <span class="title"> </span> <%= request&.restaurant&.name %> </span>
          <span class="address"> <%= request&.restaurant&.address %></span>
        </div>
        <%= link_to "Cancel request", request_path(request), method: :delete %>
      </div>
    </div>
  </div>
