<div id="container-chat" class="tabcontent" style="display: block;">
  <div class="background-chat">
    <div id="messages">
      <% @meeting.messages.each do |message| %>
      <div class="chat <%= message.user == current_user ? "user_one" : "user_two" %>">
        <div class="chat-content">
           <%# message.user.first_name %> <%= message.content %>
        </div>

      </div>
      <% end %>
    </div>
  </div>
</div>
<h3 class="typing"> <%=  %></h3>
  <%= simple_form_for [@meeting, @message], remote: true do |f| %>
<div class="chat-enter">
  <div class="input-chat">
    <%= f.input :content, placeholder: "Say something", class: "form-control say", label: false %>
  </div>
  <div >
    <%= f.submit class: "btn btn-secondary button-chat", value: "Send"%>
    <% end %>
  </div>
</div>
