<div class="entry-container">
  <div class="entry">
    <div class="restaurant-image-request" style="background-image: url('<%= cl_image_path @restaurant&.photo&.url %>')">
    </div>
    <div class="text d-inline">
      <div>
        <span class="time"><%= @meeting.other_user_request(current_user).meeting_date.strftime("%A, %b %d") %> at
          <span class="title"> </span> <%= @restaurant.name %> </span>
          <span class="address"> <%= @restaurant.address%></span>
        </div>

      </div>

    </div>
    <div class="text-center">
    <%= link_to "All meetings", meetings_path %>
    </div>
  </div>


