<!-- #{@meeting.other_user_request(current_user).user.first_name}
<%= current_user.first_name %>
-->
<div  >


   <div id ="image-meeting">
    <%= cl_image_tag @meeting.other_user_request(current_user).user.photo.url %>
    </div>
    <div class ="meeting-details">
      <p>Meet <%= @meeting.other_user_request(current_user).user.first_name %><%= @meeting.other_user_request(current_user).meeting_date %><%= @restaurant.name %><%= @restaurant.address%></p>
    </div>


<!--
      <div>
        <%= link_to "Send message", "#messages", class: "btn btn-primary, button-chat" %>
      </div>
-->







<!-- Tab content -->








<div class="tab-1">
  <div class="message-button">
    <button class="tablinks" onclick="openPage(event, 'container-chat')" id="defaultOpen">Message</button>
  </div>
  <div class="map-button">
    <button class="tablinks" onclick="openPage(event, 'map')" >Map</button>
  </div>
</div>
<div id="map" class="tabcontent"
    style="width: 340px;
    height: 273px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
  <div id="container-chat" class="tabcontent">
    <div class="background-chat">
      <div id="messages">
        <% @meeting.messages.each do |message| %>
        <div class="chat">
          <%= message.user.first_name %>: <%= message.content %>
        </div>
        <% end %>
      </div>
    </div>
    <h3 class="typing"> <%=  %></h3>
      <%= simple_form_for [@meeting, @message] do |f| %>
    <div class="chat-enter">
      <%= f.input :content, placeholder: "Say something", class: "say", label: false %>
      <%= f.submit class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>



