<div class="container">

  <div class = "upper-part">
    <div id ="image-meeting">
      <%= cl_image_tag @meeting.other_user_request(current_user).user.photo.url(:find_face) %>
    </div>
      <%= link_to "Chat with #{@meeting.other_user_request(current_user).user.first_name}", "#messages", class: "btn btn-primary" %>

  </div>
  <div class="congratulations">
    <h1>Congratulations <%= current_user.first_name %>!</h1>
  </div>
  <div class="meeting-details">
    <p>You'll be meeting <strong><%= @meeting.other_user_request(current_user).user.first_name %></strong></p>
    <p>On <strong><%= @meeting.requests.first.meeting_date %></strong></p>
    <p>At the restaurant <strong><%= @restaurant.name %></strong></p>
    <p><strong><%= @restaurant.address %></strong></p>
  </div>

  <div
    id="map"
    style="width: 100%;
    height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  <div id="messages-form">
    <h3>Conversation <%=  %></h3>
      <%= simple_form_for([@meeting, @message], remote: true) do |f| %>
      <%= f.input :content , label: false%>
      <%= f.submit class: "btn btn-primary", value: 'Send Message' %>
    <% end %>
  </div>
  <div id="message-display">
    <% if @meeting.messages.blank? %>
      <p>Start your converstaion with <%= @meeting.other_user_request(current_user).user.first_name %>!</p>
    <% else %>
      <% @meeting.messages.each do |message| %>
      <%= render 'messages/show', message: message %>
      <% end %>
    <% end %>
  </div>
</div>
