<div class="full-screen" style="background-image: url(https://images.unsplash.com/photo-1499721297526-536718e770ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="parallax">
    <div class="section">

      <h2>Change your password</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

      <div class="form-inputs">
        <%= f.input :password,
        label: "New password",
        required: true,
        autofocus: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
        input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Change my password", class: "btn btn-success" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
