<div class="full-screen" style="background-image: url(https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);">
  <div class="parallax">
    <%= simple_form_for(@request) do |f| %>
    <div class="section">
      <br>
      <br>
      <h3> Where would you like to meet? </h3>
      <div class="algolia">
        <%= f.input :location , label: false, placeholder: "Location", input_html: { id: "location" } %>
      </div>
      <%= image_tag "arrow_down.svg", class: "ct-btn-scroll scroll_down_btn" %>
    </div>
    <div class="section" style="margin-bottom: 70px">
      <%= image_tag "arrow_up.svg", class: "ct-btn-scroll scroll_up_btn" %>
      <h3 class="cuisine-word"> Cuisine </h3>
      <div id="cuisine-list">
        <%= f.association :cuisine, as: :radio_buttons, label: "", required: false %>
      </div>
        <%= image_tag "arrow_down.svg", class: "ct-btn-scroll scroll_down_btn" %>
    </div>
    <div class="section" style="margin-bottom: 140px">
      <%= image_tag "arrow_up.svg", class: "ct-btn-scroll scroll_up_btn" %>
        <div class="when-to-meet">
      <%= f.input :meeting_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>
      <%= f.submit "Look for a Match", class: "btn btn-success" %>

    </div>
    <% end %>
  </div>
</div>
