<h1>Matches</h1>

<div class="container">
  <h2> Choose your date </h2>
  <% @matching_requests.each do |match| %>
  <div>
    <%= link_to meetings_path(chooser_request_id: @request.id, chosen_request_id: match.id), method: :post do  %>
    <div class="card-match" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= match.user.first_name %>
    <%= match.user.age %>
    <%= match.user.photo %>
    </div>

    <% end %>
  </div>

  <% end %>

  <h2>Don't like your matches? Let someone choose you!</h2>
  <% @restaurants.each do |restaurant| %>
    <div>
       <%= link_to request_path(id: @request.id, restaurant_id: restaurant.id), method: :put do  %>
        <div class="card-match" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= restaurant.name %>
      <% end %>
    </div>

  <% end %>
</div>
