<div class="full-screen" style="background-image: url(https://images.unsplash.com/photo-1519307212971-dd9561667ffb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);">
  <div class="parallax">
    <div class="section" id="carouseller">
      <div class="container">
        <!-- <div class="match-index-label"> -->
          <h3>Choose your date</h3>
          <br>
          <!-- </div> -->
          <div id="MagicCarousel" class="carousel slide" data-ride="true" data-interval="false">
            <div class="carousel-inner">
              <% @matching_requests.each_with_index do |matched_request, index| %>
              <div class="carousel-item <%= "active" if index == 0 %>" >
                <div class="link">
                  <%= link_to meetings_path(request_id: @request.id, matched_request_id: matched_request.id), method: :post do  %>
                  <div class="match-index-card-picture">
                    <%= cl_image_tag matched_request.user.photo.url, class: "cl-photo" %>
                  </div>
                  <div class="match-index-card-text-name">
                    <%= matched_request.user.first_name %>,
                    <%= matched_request.user.age %>
                  </div>
                  <div class="match-index-card-text-restaurant">
                    <h1><%= matched_request.restaurant&.name %></h1>
                    <br>
                    <p> <%= matched_request.restaurant&.address %></p>
                  </div>
                  <% end %>
                </div>
              </div>
              <% end %>
              <a class="carousel-control-prev" href="#MagicCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#MagicCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <!--   <div class="match-index-or"> -->
            <p> Didn't find a match?</p>
            <!--   </div> -->
          </div>
          <%= image_tag "arrow_down.svg", class: "ct-btn-scroll scroll_down_btn" %>
        </div>
        <div class="section" id="carouseller" style="margin-bottom: 70px">
          <%= image_tag "arrow_up.svg", class: "ct-btn-scroll scroll_up_btn" %>
          <!-- <h3>Select a Restaurant & Post a Date</h3> -->
          <div class="container">
            <div id="RestCarousel" class="carousel slide" data-ride="true" data-interval="false">
              <div class="carousel-inner">
                <% @restaurants.each_with_index do |restaurant, index| %>
                <div class="carousel-item <%= "active" if index == 0 %>" >
                  <div class="link">
                    <%= link_to request_path(id: @request.id, restaurant_id: restaurant.id), method: :put do  %>
                    <div class="match-index-card-picture">
                      <%= cl_image_tag restaurant.photo.url, class: "cl-photo" %>
                    </div>
                    <div class="match-index-card-text-restaurant">
                      <h1><%= restaurant.name %></h1>
                      <br>
                      <p> <%= restaurant.address %></p>
                    </div>
                    <% end %>
                  </div>
                </div>
                <% end %>
                <a class="carousel-control-prev" href="#RestCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <!-- <span class="sr-only">Previous</span> -->
                </a>
                <a class="carousel-control-next" href="#RestCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <!-- <span class="sr-only">Next</span> -->
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
