<div class="container">
  <div class="match-index-label">
    <h1 >Choose your date!</h1>
  </div>

  <% @matching_requests.each do |matched_request| %>
    <div class="match-index-card">
      <%= link_to meetings_path(request_id: @request.id, matched_request_id: matched_request.id), method: :post do  %>
          <div class="match-index-card-picture">
            <%= cl_image_tag matched_request.user.photo.url, class: "cl-photo" %>
          </div>
          <div class="match-index-card-text-name">
              <%= matched_request.user.first_name %>,
              <%= matched_request.user.age %>
          </div>
          <div class="match-index-card-text-restaurant">
            <p> <%= @request.restaurant.name %>
              <br>
              <%= @request.restaurant.address %>
            </p>
          </div>
    </div>
    <% end %>
  <% end %>

  <div class="match-index-or">
    <h2> OR
    <br> Let someone choose you!</h2>
  </div>

  <% @restaurants.each do |restaurant| %>
  <div class="match-index-card-rest">
   <%= link_to request_path(id: @request.id, restaurant_id: restaurant.id), method: :put do  %>
      <div class="match-index-card-picture", style = "background-image: url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg')">
      </div>

      <div class="match-index-card-text-restaurant">
        <p>
          <%= restaurant.name %>
          <br>
          <%= restaurant.address %>
          <%# if restaurant.user.photo&.url %>
            <%#= cl_image_tag(restaurant.photo.url, :width=>250, :height=>250, :crop=>"fill") %>
          <%# end %>
        </p>

      </div>
    <% end %>
  </div>
  <% end %>
</div>
